body {
    font-size: 20px;
    background-color:rgb(53, 72, 126);
    color: white;
    max-width: 90%;
    margin: 100px;
    background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/rN0W64K4ipau8gxv/videoblocks-colorful-gradient-background-seamless-live-wallpaper-4k-abstract-colorful-background_hzmnrek-u_thumbnail-1080_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}




h1 {
    text-align: center;
    background: midnightblue;
    color: white;
    font-size: 30px;
    font-size: 50px;
    color: mintcream;
    text-align: center;
}



p {
    font-size: 20px;
    font-style: Serif;
    text-align: left;
    color: goldenrod ;
    line-height: 1.6;
}
q {
    border: 3px solid firebrick;
    border-collapse: separate;
    border-spacing: 30px;
    padding-left: 30px;
    font-size: 32px;
    background-color: grey;
    margin: 80px auto;
    


  }
  q::before {
    content: open-quote;
  }
  q::after {
    content: close-quote;
  }

li {
    font-size: 20px;
    text-align: left;
    line-height: 1.6;
    color: goldenrod ;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-color: white;
}


footer {
    clear: both;
    padding-bottom: 0;
    text-align: center;
}

a:link {
    color: green;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
   text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    text-decoration: underline;
  }

